{% extends 'Dashboard.html.twig' %}

{% block title %}Ajouter Concours{% endblock %}

{% block body %}
    <div class="page-header">
        <h3 class="page-title">Ajouter Concours </h3>
    </div>

    {{ form_start(form) }}
    {{ form_row(form.title)}}

    {{ form_row(form.content) }}

    {% if modif %}
        <button class="btn btn-success">Ajouter</button>
    {% else %}
        <button class="btn btn-success">Modifier</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
