{% extends 'base.html.twig' %}
{% block title %}COMMERCIAL{% endblock %}

{% block body %}
<br><br>
    <!-- Featured News Slider Start -->
 
    <!-- Featured News Slider End -->

    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">COMMERCIAL</h4>
                             </div>
                        </div>
 &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp; &nbsp;    &nbsp;    &nbsp;    &nbsp; &nbsp;    &nbsp;    &nbsp;     <h2> Structures commerciales</h2>

                             <div>
                                <div >
                                   <!-- text -->

<br><br><br>
<h4>Réseau commercial de la société Promosport</h4>
<br>
<p>La société Promosport s’est doté d’un nouveau système d’informatisation des concours de pronostics sportifs et a mis fin au traitement manuel des bulletins de jeu, Elle  procède progressivement à l’équipement des points de vente par des terminaux de lecture (valideuses), reliés à l'unité informatique centrale.</p>
<p>Le réseau commercial de la société Promosport comprend actuellement 690 points de ventes tous équipés par les terminaux MAEL 340. Ils couvrent toutes les zones importantes (chef lieu de gouvernorat et délégations) et la direction de la société Promosport compte doubler le nombre de points de vente actuel pour atteindre les objectifs fixés en matière de politique commerciale et assurer une couverture optimale de tout le territoire national.</p>
<br>
<h4>Devenir point de vente</h4>
<br>
<p>Les personnes désirant être agrées pour la ditribution des bulletins "PROMOSPORT" doivent répondre aux paramètres ci-après :</p>

<p>- exercer une activité commerciale compatible avec la commercialisation des bulletins Promosport comme les débits de tabac et journaux, les cafés, les centres de communication taxiphone, publinet, les centres de loisirs etc.….</p>
<br>
<p>l’état du local commercial et son emplacement géographique, durment doté d'une ligne téléphonique fixe.
Un engagement pour acquérir la "valideuse" faisant ressortirles les modalités de financement (soit au comptant, ou avec un crédit bancaire et un autofinancement de 25%) . </p> 
<p>Un point de vente Promosport assure en plus de la commercialisation des bulletins Promosport pour les deux jeux national et international la commercialisation du bulletin officiel hebdomadaire de la société et la distribution des articles de publicité. </p> 
<p>Les points de vente placés dans les centres de région et réalisant un chiffre d’affaire important pourront dans le futur procéder au paiement des gagnants pour des montants de gains ne dépassant pas une limite fixée par la direction de la société.</p> 
<br>
<h4>Rétributions</h4>
<br>
<p>Les points de vente sont rétribués par :</p>

<p>Une remise de 10% sur les montants des ventes réalisés</p> 
<p>20 millimes octroyés sur chaque bulletin promosport validé chez eux. </p>  
<p>40 millimes sur chaque journal PROMOSPORT vendu.</p> 


                            </div>
                            </div>
                         <div class="col-lg-12 mb-3">
                         
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
      <!-- Footer Start -->
 
{% endblock %}
