{% extends 'base.html.twig' %}
{% block title %}Qui Sommes Nous ?{% endblock %}

{% block body %}
<br><br>
    <!-- Featured News Slider Start -->
 
    <!-- Featured News Slider End -->

    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Qui Sommes Nous?</h4>
                             </div>
                        </div>
 &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp;  &nbsp;    &nbsp;    &nbsp;    &nbsp; &nbsp;    &nbsp;    &nbsp;    &nbsp; &nbsp;    &nbsp;    &nbsp;     <h2> Présentation de la société</h2>

                             <div>
                                <div >
                                   <!-- text -->

<br><br><br>
<h4>Cadre juridique :</h4>
<br>
<p>La société Promosport est une entreprise publique sous tutele du Ministère de la Jeunesse des Sports et de l’Education physique, créée par la loi 84-63 du 6 Août 1984, portant organisation et développement des activités physiques et sportives ( art 67 à 70 ). Elle est chargée, en vertu de la réglementation en vigueur de l’organisation des concours de pronostics sportifs, des jeux, des compétitions et de toutes opérations assimilées et qui ont pour objet la promotion des activités physiques et sportives.</p>
<br>
<h4>Organes de gestion et de contrôle :</h4>
<br>
<p>La gestion de la société Promosport est assurée par un conseil d’administration présidé par le président directeur général de la société.</p>

<p>Le conseil d’administration est composé par des membres représentant :</p>

<p>Le Premier ministère.</p> 
<p>Le Ministère de la Jeunesse des Sports et de l’Education physique.</p> 
<p>Le Ministère des Finances.</p> 
<p>Le Ministère du Développement et de la Coopération Internationale.</p> 
<p>Le Ministère de l’Intérieur et du Développement local.</p> 
<p>La Fédération Tunisienne du Football</p> 
<p>Ainsi que du contrôleur d’Etat.</p>

<p>Par ailleurs, il est créée au sein de la société Promosport une commission de contrôle de l’organisation des concours, composée de quatre membres représentant :</p>

<p>Le ministère de la Jeunesse des Sports et de l’Education physique.</p> 
<p>Le ministère de l’Intérieur et du Développement local.</p>  
<p>Le ministère du Développement et de la Coopération Internationale.</p> 
<p>Le ministère des Technologies de la communication.</p>
<p>La commission de contrôle assure ses fonctions en présence d’un huissier notaire qui établit un procès verbal, décrivant les opérations effectuées dans chaque concours et en y indiquant les résultats auxquels elles ont abouti.</p>

<p>Pour plus de détails consulter :</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>-  La loi n° 84-63 du 6 Aout 1984 portant organisation et développement des activités physiques et sportives.</p>

 &nbsp; &nbsp; &nbsp; &nbsp; <p>et notamment les articles 67 à 70 relatifs à la création de la Société Promosport.</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>- Le décret 93-1601 du 26 juillet 1993, fixant l’organisation et les modalités de fonctionnement de la société</p>

&nbsp; &nbsp; &nbsp; &nbsp;  <p>« promosport ».</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>- Le décret 2000-834 du 17 Avril 2000, fixant l’organigramme de la société promosport.</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>- Le décret 2005-45 du 10 janvier 2005, fixant les conditions d’attribution et de retrait des emplois</p>

&nbsp; &nbsp; &nbsp; &nbsp;  <p>fonctionnels à la société « promosport ».</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>- Le règlement général de l’organisation des concours des pronostics sportifs, paru à la section annonces</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p> légales, réglementaires et judiciaires au JORT n°31 du 18 février 2005.</p>

&nbsp; &nbsp; &nbsp; &nbsp; <p>- Le guide des procédures pour la participation aux concours PROMOSPORT.</p>
                            </div>
                            </div>
                         <div class="col-lg-12 mb-3">
                         
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
      <!-- Footer Start -->
 
{% endblock %}
