<li class="nav-item menu-items">
    <a class="nav-link" href="{{ path('Dashboard') }}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
        <span class="menu-title">Dashboard</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" data-toggle="collapse" href="#ui-promosport" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
        <span class="menu-title">Promosport</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-promosport" style="">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ path('Dashboard_promosport') }}">Promosport</a></li>
        </ul>
    </div>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" data-toggle="collapse" href="#ui-Actualite" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
        <span class="menu-title">Actualite</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-Actualite" style="">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ path('Dashboard_article') }}">Les Actualites</a></li>
        </ul>
    </div>
</li>
